@import'./bases/variables';
@import './componentes/seccion';
@import './componentes/animaciones';
@import './componentes/header-footer';




/*clases para aplicar extends*/
.division{
    border-radius: 15px;
    margin: 7px;
}

.centrar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cartitas{
        padding: 15px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

/*aplicar mixin*/
@mixin material {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 10px;
    text-align: center;
    
}

.info{
    @include material;
}
    
/*map*/
$fondos:(
  ingles:rgba(183, 201, 235, 0.836),
  italiano:green,  
  frances:blue,
  portugues:red,

);

#secundario{
    background-color: map-get($fondos, ingles );
    font-family: 'Nunito Sans', sans-serif;
}

#principal{
    background-color:rgb(173, 173, 165);
    font-family: 'Nunito Sans', sans-serif;
}






    
   

        