#accordionFlushExample:hover{
    transform: translateY(-4%);
    box-shadow: 3px black;
    transition-delay: 0,5s;
    
}
a{
    transition: .3s;
}
a:hover{
    left: -10%;
}
a:hover{
    background-color: beige;
    text-decoration: underline;
    border-radius:5px ;

}
footer:hover{
    background-color: beige;
    transition-delay: .5s;
}

iframe:hover{
    transform: scale(1.05);
    transition-delay: .5s;
    border-radius: 8px;
}

 
.carta_4:hover{
    transform: scale(1.03);
    transition-delay: .5s;

}

.carta_3:hover{
    transform: scale(1.03);
    transition-delay: .5s;

}
.carta_2:hover{
    transform: scale(1.03);
    transition-delay: .5s;

}
.carta_1:hover{
    transform: scale(1.03);
    transition-delay: .5s;

}
.card{
      border-radius: 15px;
    }

.card:hover{
      transform: scale(1.03);
       border-radius: 15%;
       
}