#accordionFlushExample:hover{
    transform: translateY(-4%);
    box-shadow: 3px black;
    transition-delay: 0,5s;
    
}
.nav-link{
    transition: .3s;
}
.nav-link:hover{
    left: -10%;
}
.nav-link:hover{
    background-color: beige;
    border-radius:5px ;

}
footer:hover{
    background-color: beige;
    transition-delay: .3s;
}

iframe:hover{
    transform: scale(1.05);
    transition-delay: .8s;
    border-radius: 8px;
}
.carta_1:hover{
    transform: scale(1.03);
    transition-delay: .5s;

}

.carta_2:hover{
    transform: scale(1.03);
    transition-delay: .5s;

}

.carta_3:hover{
    transform: scale(1.03);
    transition-delay: .5s;

}

.cart_1{
    transform: scale(1.03);
    transition-delay: .5s;

}
.cart_2{
    transform: scale(1.03);
    transition-delay: .5s;

}

#boton{
    border-radius: 5px;
    background-color: rgb(217, 217, 235);

}
#boton:hover{
    transform: scale(1.08);
}
a{
   color: #000; 
}