footer ul{
    list-style-type: none;
    background-color: $header;
    padding: 6px;
    display: flex;
    justify-content: space-evenly;
}

footer img{
    height: $tamano;
}


.bg-coder{
    background-color: $header;
}

#principal{
    background-color: rgb(100, 100, 187);
}